<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">

    <h4 class="display-6 navbar-text">&copy;2023 All rights reserved</h4>
    <a href="\Assets\ShaneKoester_Resume.pdf" download="ShaneKoester_Resume.pdf" style="color: white; font-size: 18px; margin-right: 25px;">Download Resume</a>
    </div>
  </nav>
</footer>